.slider_container
{
		border-bottom: 1px #111111 solid;
		margin: 20px auto;
		overflow: hidden;
}


.slider
	{
		border: 1px #111111 solid;
		margin: 20px auto;
		overflow: hidden;
	}


.slider img
{
	width:550px;
	height:300px;
	display: none;
}
/*--------- slider ---------*/

.pagination-slider {position:absolute; bottom:18px; left:390px; z-index:112; display:inline-block;}
.pagination-slider li {display:inline-block; float:left;}
.pagination-slider a { background:url(../images/pags.png) 0 0 no-repeat; width:33px; height:34px; display:block;}
.pagination-slider li.current a, .pagination li:hover a { background:url(../images/pags.png) right 0 no-repeat;}

