header 
{
width: 950px;
margin: 0px auto;
padding-top: 27px;
z-index: 101;
position: relative;
}
/*Division Styles for HomePage*/
.html 
{ 
    background: url(../images/OurParish.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.main_container 
{
width:970px;
border-radius: 8px;
position: relative;
overflow: hidden;
background: url(../images/block-6.jpg) center bottom no-repeat #ffffff;
padding-bottom: 50px;
}

.design_bar 
{
position: relative;
width: 970px;

height: 50px;
background-color: #f5f5f5;
border-color: #e7e7e7;
border-bottom: #bebebe 1px solid;

}

.introduction_header
{
    border-bottom: #d6d6d6 1px solid;
    width: 550px;
    position: relative;

}
h2, .h2 
{
font-size: 20px;
text-align: left;
left:20px;


}

h1, h2, h3 {
margin-top: 10px;
margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: 'Times New Roman',Times,serif;
font-weight: 500;
line-height: 1.1;
color: inherit;

font-style: italic;
text-align: left;

}


h5, .h5{
    text-align:center;
}

.introduction_container
{
       
    min-height: 1px;
    padding-right: 25px;
    padding-left: 25px; 
    position: relative;
    width: 600px;
  
}

.text-indent
{
text-indent: 4em;
}


p {
position: relative;
font-size: 14px;
margin: 10px ;
color:#878787;
}

.calendar_container
{
    left: 620px;
    position: relative;
    border: 2px #111111 solid;
    width: 250px;
    height:250px;
}
/*Parish Header Design*/

.parishes
{

font-family: 'Times New Roman',Times, serif;
color: #006dcc;
font-weight: 600px;
font-size: 25px;
font-style: italic;

}
.block-3
{
background: url(../images/block-3.png) center 0 no-repeat;
margin-top: 16px;
overflow: hidden;
padding-top: 22px;
}

.bottom
{
position: relative;
}

footer 
{ 
    width:950px; 
    margin:0 auto;
    position:relative;
    overflow:hidden; 
    padding:32px 0 40px 0;
    text-align:center; 
    color:#a3a2a2; 
    background:url(../images/footer-bg.png) center 0 no-repeat; 
    left:35px;
    margin-top: 0px;
} 
footer p, footer p a.link 
{
    font-weight:bold;
}

/*end of Parish Header Design*/

/*End of Division Styles for HomePage*/


/*Navbar*/
.navbar-default 
{
background-color: #f8f8f8;
border-color: #e7e7e7;
height: 10px;
border-bottom: #bebebe 1px solid;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
color: #555;
background-color: #e7e7e7;
border-bottom: 1px solid #bebebe;

}
.container 
{
width: 1170px;
text-indent: 14px;
}


/*End of Navbar*/

 
.icon_container
 {
    position:relative;
    left:25px;
    top:-5px;
 }

